html.dark {
    --el-card-bg-color: #283028;
    --el-fill-color-blank: #183018;

    --me-header-bg-color: #0b4d0b;
    --me-even-bg-color: #303f07;
    --me-odd-bg-color: #073f30;
}

html.dark .el-tag__content {
	/* font-family: Microsoft YaHei; */
}