:root {
    --el-fill-color-blank: #c7ffc7;
    --el-fill-color-light: #d7ffd7;
    --el-bg-color: #def0de;
    --el-card-bg-color: #c8f4c8;
    --el-border-color: #ffa050;

    --el-font-size-extra-large: 22px;
    --el-font-size-large: 20px;
    --el-font-size-medium: 19px;
    --el-font-size-base: 18px;
    --el-font-size-small: 16px;
    --el-font-size-extra-small: 14px;

    --me-header-bg-color: #9bdd9b;
    --me-hover-color-blank: #a7dfa7;
    --me-switch-off-color: #777777;
    --me-even-bg-color: #f0ffc7;
    --me-odd-bg-color: #c7fff0;
}

.el-message__content {
    font-size: var(--el-font-size-base);
}

.el-switch {
    --el-switch-off-color: var(--me-switch-off-color);
}

.el-switch--large .el-switch__label * {
    font-size: var(--el-font-size-base);
}

.el-switch__core .el-switch__inner .is-text {
    /*color: var(--el-color-black);*/
    font-size: var(--el-font-size-base);
}


.el-radio.el-radio--small .el-radio__label {
    font-size: var(--el-font-size-small);
}

.el-radio.el-radio--large .el-radio__label {
    font-size: var(--el-font-size-large);
}


.el-aside {
    width: 220px;
}

.el-aside-menu {
    padding: 0 10px 0 0;
}

.el-aside-menu-item {
    justify-content: flex-end;
}

.el-table {
    --el-table-header-bg-color: var(--me-header-bg-color);
    font-size: var(--el-font-size-small);
}

.el-tag {
    --el-tag-font-size: var(--el-font-size-base)
}

.el-tag__content {
    text-shadow: 1px 1px #404040;
}

.el-collapse {
    --el-collapse-header-bg-color: var(--me-header-bg-color);
    --el-collapse-content-bg-color: var(--el-bg-color);
}

.el-select__wrapper {
    font-size: var(--el-font-size-base);
}

.el-form-item {
    padding: 0 10px;
    margin-bottom: 5px;
}

.el-checkbox {
    --el-checkbox-font-size: 18px;
}

.el-scrollbar {
    /*--el-scrollbar-bg-color: var(--el-fill-color-blank);*/
    /*--el-scrollbar-hover-bg-color: var(--me-hover-color-blank);*/
}

.el-rate {
    --el-rate-icon-margin: 0;
    --el-rate-disabled-void-color: var(--me-switch-off-color)
}

.el-rate__item {
    color: var(--el-border-color);
}

.el-pagination {
    --el-pagination-font-size: 18px;
}

.el-icon {
    width: 1.5em;
    height: 1.5em;
}

.el-icon svg {
    width: 1.5em;
    height: 1.5em;
}

tr:nth-child(even) {
    background-color: var(--me-even-bg-color);
}

tr:nth-child(odd) {
    background-color: var(--me-odd-bg-color);
}

.el-form-item:nth-child(even) {
    background-color: var(--me-even-bg-color);
}

.el-form-item:nth-child(odd) {
    background-color: var(--me-odd-bg-color);
}

.el-dialog__title {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}